"*":
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
      formatOnType: false
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDiagnosticTraces: true
      showDirectoryColumn: true
    "atom-ide-outline-view": {}
    use: {}
  "atom-package-deps":
    ignored: [
      "linter-eslint"
    ]
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    defaultProvider: "Fuzzy"
  "bracket-matcher": {}
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-gfm"
      "language-c"
      "language-clojure"
      "language-go"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-ruby-on-rails"
      "language-toml"
      "link"
      "metrics"
      "open-on-github"
      "styleguide"
      "package-generator"
      "welcome"
      "archive-view"
      "autocomplete-atom-api"
      "language-csharp"
      "language-java"
      "image-view"
      "bookmarks"
      "git-diff"
      "github"
      "go-to-line"
      "language-make"
      "symbols-view"
      "markdown-preview"
      "language-property-list"
      "language-source"
      "language-text"
      "language-xml"
      "language-php"
      "language-python"
      "language-ruby"
    ]
    projectHome: "~/projects"
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "one-dark-syntax"
    ]
    warnOnLargeFileLimit: 1
  editor:
    fontFamily: "'Terminus (TTF)'"
    invisibles: {}
    scrollPastEnd: true
    scrollSensitivity: 200
    showInvisibles: true
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "c59e223c-1429-4e78-9c86-39c6ce75cf87"
  "file-icons": {}
  fonts:
    fontFamily: "Roboto Mono"
  "highlight-column":
    lineMode: true
    opacity: 0.04
  "highlight-selected":
    highlightInPanes: false
    ignoreCase: true
    lightTheme: true
  hyperclick:
    linuxTriggerKeys: "shiftKey"
  "js-hyperclick":
    usePendingPanes: true
  jumpy:
    highContrast: true
  "linter-eslint":
    lintHtmlFiles: true
  "linter-ui-default":
    panelHeight: 63
    showProviderName: true
    statusBarPosition: "Right"
    statusBarRepresents: "Current File"
  minimap:
    adjustMinimapWidthOnlyIfSmaller: false
    independentMinimapScroll: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
  pigments:
    markerType: "gutter"
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
    style:
      animationSpeed: 0
      theme: "one-dark"
  "pristine-ui": {}
  "project-manager":
    alwaysOpenInSameWindow: true
    includeGitRepositories: true
  "relative-numbers": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "terminal-plus":
    core: {}
  "tree-view":
    alwaysOpenExisting: true
  "tree-view-breadcrumb":
    scrollToLastItem: false
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    keymapYToYankToLastCharacterOfLine: true
    sequentialPaste: true
    showHoverSearchCounter: true
    statusBarModeStringStyle: "long"
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  zentabs:
    showPinnedIcon: false
".html.text.vue":
  editor:
    autoIndent: true
".sass.source":
  editor:
    autoIndentOnPaste: false
