"*":
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "language-gfm"
      "language-c"
      "language-clojure"
      "language-coffee-script"
      "language-go"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "link"
      "metrics"
      "open-on-github"
      "styleguide"
      "package-generator"
      "welcome"
      "archive-view"
      "autocomplete-atom-api"
      "markdown-preview"
      "language-csharp"
      "language-java"
      "language-make"
      "language-php"
      "language-sql"
      "language-xml"
      "language-yaml"
      "image-view"
    ]
    packagesWithKeymapsDisabled: [
      "ctrl-dir-scroll"
    ]
    projectHome: "~/dev"
    telemetryConsent: "limited"
    themes: [
      "pristine-ui"
      "one-dark-syntax"
    ]
    warnOnLargeFileLimit: 1
  editor:
    fontSize: 17
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "c59e223c-1429-4e78-9c86-39c6ce75cf87"
  "file-icons": {}
  "highlight-column":
    lineMode: true
  "highlight-selected":
    highlightBackground: true
    lightTheme: true
  hyperclick:
    linuxTriggerKeys: "shiftKey"
  "js-hyperclick":
    usePendingPanes: true
  jumpy:
    highContrast: true
  "linter-eslint":
    lintHtmlFiles: true
  "linter-ui-default":
    panelHeight: 63
  minimap:
    independentMinimapScroll: true
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
  pigments:
    markerType: "gutter"
  "platformio-ide-terminal":
    ansiColors:
      normal:
        black: "#073642"
        blue: "#268bd2"
        cyan: "#2aa198"
        green: "#859900"
        magenta: "#d33682"
        red: "#dc322f"
        yellow: "#b58900"
      zBright:
        brightBlack: "#073642"
        brightBlue: "#268bd2"
        brightCyan: "#2aa198"
        brightGreen: "#859900"
        brightMagenta: "#d33682"
        brightRed: "#dc322f"
        brightYellow: "#b58900"
    core: {}
    style:
      animationSpeed: 0
      fontSize: "14"
  "pristine-ui": {}
  "terminal-plus":
    core: {}
  "tree-view-breadcrumb":
    scrollToLastItem: false
  welcome:
    showOnStartup: false
".html.text.vue":
  editor:
    autoIndent: true
".sass.source":
  editor:
    autoIndentOnPaste: false
